.buzzed {
    filter: blur(1px);
    transition: all 2s linear;
}

.tipsy {
    filter: blur(2px);
    transition: all 2s linear;
}

.hammered {
    animation:  sway0 10s infinite ease-in-out;
    transform-origin: 50% 100% 0;
    transition: all 2s linear;
}

.stupor  {
    animation: sway1 5s infinite;
    transform-origin: 50% 100% 0;
    transition: all 2s linear;
}

.drunk {
    animation: sway2 4s infinite ease-in-out;
    transform-origin: 50% 100% 0;
    transition: all 2s linear;
}

@keyframes sway0 {
    0%, 100%{ transform: scale(1,1.05) perspective(1px); filter: blur(3px) brightness(55%); }
    50%{ transform: scale(1.05,1) perspective(0px); filter: blur(1px) brightness(45%); }
}

@keyframes sway1 {
    0%, 100%{ border-radius:10px; transform: rotate(0deg) scale(1,1.1) perspective(0px) skewX(1deg) skewY(1deg); filter: blur(8px) brightness(60%); }
    50%{ border-radius:20px; transform: rotate(-0.5deg) scale(1.1, 1) perspective(1px) skewX(0deg) skewY(0deg); filter: blur(2px) brightness(40%); }
}

@keyframes sway2 {
    0%, 100%{ border-radius:20px; transform: translateY(10) scale(1.2,1.3) perspective(1px) skewX(3deg) skewY(2deg); filter: blur(15px) brightness(15%); }
    50%{ border-radius:100px; transform: translateY(0) scale(1.2, 1.3) perspective(3px) skewX(-1deg) skewY(-2deg); filter: blur(6px) brightness(85%); }
}