
.p-workspace__banner, .p-workspace__top_nav, .p-workspace__sidebar
{
  display:none;
}

.p-workspace__secondary_view.dn {
  display:none;
  overflow: hidden;
}

.p-workspace__primary_view.dn {
  display:none;

}

.p-workspace {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "p-workspace__primary_view";
}